<p>
    {{ __( 'This is the main Toolset Dashboard page. The table below provides you with an overview of content types and Toolset components in your site. It also displays the links between all the elements.', 'types' ) }}
</p>

<p>
    {{ __( 'The table has two parts:', 'types' ) }}
</p>

<ul>
    <li>{{ __( '<b>WordPress admin</b> lists all of the content types and their relations: Post Types, Fields and Taxonomies.', 'types' )|raw }}</li>
    <li>{{ __( '<b>Front-end</b> lists all of the Toolset elements you have and the content they are used for: Content Templates, WordPress Archives, Views and Forms.', 'types' )|raw }}</li>
</ul>
    
<p>
    {{ __( 'The buttons in the table provide shortcuts to create specific content types or Toolset components.', 'types' ) }}
</p>
